.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }