/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem;
  position: relative;
}

.container h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.buttons a {
  font-size: 14px;
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 43%;
  visibility: hidden;
}

@media screen and (max-width: 996px) {
  .container {
    padding: 2rem;
  }
  .footer {
    visibility: visible;
  }
}
